/* || General setup */
html {
  display: block;
}


body {
  padding: 0px;
  margin: 0 auto;
  background-color: #f7784a;
  font-family: "Roboto", sans-serif;
}

/* || typography */

h1 {
  font-family: "Sansita Swashed", cursive;
  color: #2a2a2a;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #2a2a2a;
  font-size: 2rem;
  text-align: left;
  font-weight: 400;
}

.list-title {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2px;
  font-style: italic;
}

.list 
{
margin-bottom: 15px;

}
/* || header layout */

.header {
  background-color: #751f00;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 960px;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.left {
  flex: 0 1 auto;
  margin-right: 15px;
  width: 175px;
}

.left p {
  background: #f54100;
  border-radius: 4px;
  padding: 15px;
  flex: 0 1 auto;
  border-style: solid;
}

.image {
  /* width: inherit; */
  border-style: solid;
  border-color: ivory;
  border-radius: 4px;
  border-width: 1px

}

.bottom {
  /* flex: 0 2 auto; */
  border-radius: 4px;
  background: #f54100;
  padding: 15px;
  border-color: #cccccc;
  margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {
  .container {
    justify-content: center;
  }

  .left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    margin-bottom: 15px;
    
  }
  
 

  


}
